<!doctype html>
{% load static %} 
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>XMeme</title>
	<meta name="description" content="Crio XMeme Project">
	<meta name="author" content="Abhishek Thakur">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static 'feed/js/script.js' %}"></script>
	<link rel="stylesheet" href="{% static 'feed/css/feed.css' %}">
	<link rel="stylesheet" href="{% static 'feed/css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'feed/css/form.css' %}">
</head>

<body>
	<ul class="navbar">
		<li><a href="default.asp" class="bar-item">Home</a></li>
		<li><a href="news.asp" class="bar-item">News</a></li>
		<li><a href="contact.asp" class="bar-item">Contact</a></li>
		<li><a href="about.asp" class="bar-item">About</a></li>
		<li class="open-button bar-item" style='margin-left: auto;' onclick="openForm()">Submit A Meme</li>
	</ul>
	<div class="form-popup" id="myForm">
		<!-- <div class="loader" id="loader"></div> -->
		<form class="form-container" id="post-form">
			<label id="message" style="display: none;"></label>
			<label for="name">Owner Name</label><br>
			<input type="text" id="name" name="name" autocomplete="off" required><br>

			<label for="caption">Caption</label><br>
			<input type="text" id="caption" name="caption" autocomplete="off" required><br>
			
			<label for="url">Meme URL</label><br>
			<input type="link" id="url" name="url" autocomplete="off" required>
			
			<button class="btn" id="get_data">Sumbit</button>
    		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
	</div>
	<div class="feed" id="feed"></div>
</body>
<script>
	function imgError(img) {
		img.src = "{% static 'feed/error.jpg' %}";
		console.log('in error');
	}
	$("#post-form").submit(function(){
		event.preventDefault();
		console.log("form submitted!");
		var form = $(this);
		$.ajax({
			type: "POST",
			url: 'memes/',
			data: form.serialize(),
			dataType: 'json',
			beforeSend: function(){
			},
			success: function(response){
				console.log("success");
				console.log(response);
				var id = response.id;
				$.ajax({
					type: "GET",
					url: 'memes/'+id,
					success: function(response){
						item = response
						let fig = document.createElement("div");
						let img = document.createElement("img");
						let capt = document.createElement("p");
						let name = document.createElement("p")
						img.src = item.url;
						capt.textContent = item.caption;
						name.textContent = item.name
						fig.appendChild(name);
						fig.appendChild(capt);
						fig.appendChild(img);
						feed.prepend(fig);
					}
				})
				closeForm();
			},
			error: function(response){
				console.log('error');
				response = JSON.parse(response.responseText);
				if (response["error"] == 'Duplicate'){
					message_label = document.getElementById('message');
					message_label.textContent = "Duplicate Data!";
					message_label.style.display = "block";
					// alert('Duplicate Data');
				}
			}
		});
	});
</script>
</html>