.feed 
{
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* overflow: scroll; */
	/* width: 80vw; */
	align-items: center;
	justify-content: flex-start;
}

.feed > div {
	margin: 10px;
	width: 300px;
	border: 1px solid black;
}

.feed img
{
	width: 300px;
	height: 200px;
	max-width: 35vw;
}